@using StartupLanches.Model;
@model List<LancheMdl>

@{
    ViewData["Title"] = "Pedidos";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ingredientes</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var lanche in Model)
            {
                @Html.Partial("pvTrLanche", lanche)
            }
        }
    </tbody>
</table>