@using StartupLanches.Model;
@model LanchePedidoMdl

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="col">Ingrediente</th>
            <th scope="col">Valor</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var lanche in Model.Ingredientes)
            {
                @Html.Partial("pvTrMontagemLanche", lanche)
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <th><input id="txtPesquisaIngrediente" type="text" class="form-control" /></th>
            <th><input id="txtPesquisaIngrediente" type="number" min="1" max="9" value="" class="form-control" /></th>
            <th>
                <button title="Adicionar Ingrediente" type="button" class="btn btn-success">+</button>
            </th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <th>Total:</th>
            <th id="th-total-lanche">@Model.ValorFinal.ToString("c")</th>
        </tr>
    </tfoot>
</table>